body {
 background-image: url(BackgroundTD.png);
	background-size: cover;
	background-attachment:fixed ;
} 
.Navname {
	animation: bounceInLeft;
	animation-duration: 1s;
}
.navbar-nav li:hover {
    background: rgba(255, 255, 255, 0.333);
    color: black;
    border-radius: 10px;
}
.Photo1 {
	width: 80px;
    padding: 5%;
}

.photo2 {
    width: 2%;
}

.photo3 {
    border-radius:10px;
}

.Welcome2 {
	background: rgba(0%, 0%, 0%, .7);
	border-radius: 10px;
}

.DTAN {
    color: aqua;
    -webkit-text-stroke: 0.3px black;
}

.bg-yellow {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: darkgrey;
}